# Since this is a dotfiles repository, it's primarily going to be used with
# many untracked files in its worktree. Therefore, ignore everything and *only*
# track the things we want to include.
./*
./.*
**/*
**/.*

!./.bashrc
!./.config/git/ignore
!./.config/kitty/kitty.conf
!./.dircolors
!./.gitconfig
!./.gitignore
!./.poshthemes/powerlevel10k_poweruser.omp.json
!./.profile
!./.sbclirc
!./.sbclrc
!./.shell_aliases
!./.ssh/config
!./.ssh/config.d/.keep
!./.vale.ini
!./.xscreensaver
!./.zprofile
!./.zsh_plugins.conf
!./.zshrc
